

@media screen and (min-width: 1024px) {
    .bgImage{
        background-image:url("../../images/boy_child_png.png");
        background-position:left center  ;
        background-size: contain;
        background-repeat:no-repeat;
        backdrop-filter:blur(5px)
        
    }
    .mission{
        position:relative;
        z-index:100;
    }
    .btn__sponsor{
        position:relative;
        overflow:hidden;
        transition:all 300ms ease-out;  
      }
      
      .btn__sponsor:hover{
        background-color:#113155;
        border:none;
        border-radius:3px;
      }

      .sliding_puzzle{
        display:grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap:10px;
        position:relative;
        background-color:aqua;
      }

      .img_clip{
        clip-path:content-box;
      }


      
    
}