@tailwind base;
@tailwind components;
@tailwind utilities;

/* ### Primary

- Dark Blue: hsl(233, 26%, 24%)
- Lime Green: hsl(136, 65%, 51%)
- Bright Cyan: hsl(192, 70%, 51%)

### Neutral

- Grayish Blue: hsl(233, 8%, 62%)
- Light Grayish Blue: hsl(220, 16%, 96%)
- Very Light Gray: hsl(0, 0%, 98%)
- White: hsl(0, 0%, 100%) */

:root{
  --dark-blue:hsl(233, 26%, 24%);
  --lime-green:hsl(136, 65%, 51%);
  --bright-cyan:hsl(192, 70%, 51%);

  --grayish-blue: hsl(233, 8%, 62%);
  --light-gray-blue:hsl(220, 16%, 96%);
  --very-light-gray:hsl(0, 0%, 98%);

}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/* CSS resets */
body{
  scroll-behavior: smooth;
  overflow-x:hidden;
  font-family:serif !important;
  background-color:#178582;
}

.container{
  max-width:1200px;
  margin: auto 2rem;
  padding:0 1rem;
}



/* Card */
.card{
  position:relative;
  background-color:#4649f5;
  opacity:0.5;
  backdrop-filter:blur(5px);
}
.card .bfore{
  content:"";
  position:absolute;
  top:0;
  left:0;
  display:block;
  width:4rem;
  font-weight:bold;
  opacity:0.2;
  font-size:2rem;
}

.container-clip{
  position:relative;
}

.container-clip::before{
  width:40rem;
  height:40rem;
  border-radius:100%;
  background:linear-gradient(45deg, rgba(234, 12, 204, 0.7), rgba(255, 135, 229, 0.4));
  position:absolute;
  top:50;
  right:-40%;
  content:"";
  backdrop-filter:blur(5px);
  mix-blend-mode:screen;
  box-shadow:-15px 20px 20px rgba(23, 137, 182, 0.7);
  border:none;
  outline:none;
}



